{% extends "base.html" %}
{% block title %}
	<title>Posts List</title>
{% endblock %}

{% block content %}
{% load static %}
	<div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                {% for post in posts %}
                        <div class="card m-3" style="width: 50rem;">
                            <a href="{% url "posts:post-detailed" post.pk %}">
                          <img src="{{ post.media.url }}" class="card-img-top" alt="...">
                            </a>
                          <div class="card-body">
                            <h3 class="card-title">{{ post.title }}</h3>
                          </div>
                        </div>
                
                {% endfor %}
                {% for page_num in page_obj.paginator.page_range %}
                    <a href="?page={{ page_num }}" class="d-inline-block">{{ page_num }}</a>
                {% endfor %}
            </div>
            <div class="col-2"></div>

        </div>
    </div>
{#    <script>#}
{#    function ajaxSend(){#}
{#        fetch('')#}
{#            .then(response => response.text())#}
{#            .then(data => {#}
{#                alert(data)#}
{#            })#}
{#            .catch(error => console.log('Error:', error));#}
{#    }#}
{#    </script>#}
{% endblock %}